body {
	background-color: white;
	max-width: 75%;
	margin: 0 auto;
}

/**************************
HEADER
**************************/

header {
	font-family: Times;
	color: green;
	font-weight: 300;
	font-size: 2em;
	text-align: center;
	margin-top: 1em;
}

/*******************
NAME
********************/

#nameInfo {
	display: inline-block;
	width: 40%;
}

#nameInfo fieldset {
	height: 93px;
}

/***********************
ADDRESS
************************/

#addressInfo {
	display: inline-block;
	width: 60%;
	float: right;
}

/**********************
OCCUPATION
**********************/

#occupation {
	display: inline-block;
	width: 50%;
}

/***********************
EMPLOYER
************************/

#employer {
	display: inline-block;
	width: 50%;
	float: right;
}

/***********************
EMPLOYER ADDRESS 
************************/
#employeraddress {
	display: inline-block;
	width: 100%;
}

/************************
LOAN TYPE
***********************/

#loanType {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; 
}

#loanType label {
	margin-left: 40%;
}



/***************************
LOAN LENGTH
***************************/
#loanlength {
	display: inline-block;
	width: 50%;
}

/************************
LOAN AMMOUNT
************************/

#loanammount {
	display: inline-block;
	width: 50%;
	float: right;
}

#loanammount input:focus:invalid {
  background: hsla(0, 90%, 70%, 1);
}

#loanammount input:focus:valid {
  background: hsla(100, 90%, 70%, 1);
}

/*********************
SPECIAL CONDITIONS
*********************/

#specialconditions {
	display: block;
	width: 100%;
}

#specialconditions fieldset {
	display: 100%;
	margin: 1px;
}

/**************************
EMAIL
***************************/

#email {
	display: inline-block;
	width:30%;
	margin-right: 2%;
}

#email input:focus:invalid {
  background: hsla(0, 90%, 70%, 1);
}

#email input:focus:valid {
  background: hsla(100, 90%, 70%, 1);
}


/************************************
URL SUBMIT 
***********************************/

#url {
	display: inline-block;
	width:30%;
	margin-right: 2%;
}

#url input:focus:invalid {
  background: hsla(0, 90%, 70%, 1);
}

#url input:focus:valid {
  background: hsla(100, 90%, 70%, 1);
}

/******************************
TELEPHONE 
*******************************/

#telephone {
	display: inline-block;
	width: 30%;
	float: right;
}

#telephone input:focus:invalid {
  background: hsla(0, 90%, 70%, 1);
}

#telephone input:focus:valid {
  background: hsla(100, 90%, 70%, 1);
}

#telephone label {
	float: left;
	text-align: right;
}

/***************************
SUBMIT BUTTON
****************************/

#submit {
	display: center;
	margin-top: 10px;
}

#submit form {
	margin-left: 45%;
}

#submit form input {
	border: 2px solid red;
	border-radius: 5px;
}

